*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
  }
  header{
      background-color: rgba(56, 53, 53, 0.762);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 110px;
      padding: 0px 30px 0px 30px;
      position:absolute;
      top: 0;
      z-index: 1;
  }
  
  .logo {
       height: 100%;
       width: 120px;
       display: flex;
  }
  
  .navbar {
    display: flex;
      
  }

  .navbar i {
    display: none;
    font-size: 36px;
  }

  .navbar-list {
      display: flex;
      align-items:center;
      justify-content:center;
      gap: 30px;
      list-style: none;
 }
  
  .navbar-list a{
      color: aliceblue;
      font-size: 14px;
      transition: all 0.3 ease;
  }

  .navbar-list a:active {
    color:red;
    transition: all 0.3 ease;
   }

  .navbar-list li:first-child > a {
      color: aliceblue;
      font-weight: 600;
  }

  #toggle-menu {
    display: none;
  }

  .cart-icon {
      padding: 12px 18px;
      margin-top: 3px;
      border-radius: 10px;
      height: 80px;
      font-weight: 600;
      cursor: pointer;
      display: flex;
      transition: all 0.3s ease;
  }

  .cart-icon:hover {
    background: white;
    transition: all 0.3s ease;
  }

  main
  {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #hero {
     margin-top: 65px;
     padding: 70px 0px;
     display: flex;
     justify-content: space-around;
     align-items: center;
  }

   .hero-info {
     display: flex;
     flex-direction: column;  
     gap: 20px;
     width: 50%;  
  }

  .hero-info h1 {
   display: flex;
   flex-direction: column;
    font-size: 48px;
    font-weight: 800;
    color:beige;
  }

  .hero-info p {
    font-size: 18px;
    font-weight: 300;
    max-width: 400px;
    color: gray;
  }

  .hero-info a {
    display: flex;
    gap: 15px;
    color: whitesmoke;
    background-color: blue;
    transition: all 0.3s ease;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    max-width: 15%;
  }

  .hero-info a:hover {
    background: red;
    transition: all 0.3s ease;
  }

  .hero-card {
    width: 750px;
    background-color:antiquewhite;
    padding: 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
  }

  #about {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 850px;
    padding: 25px 0px 45px;
    font-weight: 300;
    text-align: center;
}
  
  #about h2{
    display: flex;
    border-radius: 15px;
    background:linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(153,159,44,1) 35%, rgba(215,0,0,1) 100%);
    color:transparent;
    -webkit-background-clip: text;
    padding: 70px 10px;
}
 
.divisor{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  }

  .hr {
    border-radius: 90%;
    background: linear-gradient(150deg, rgba(236,255,0,1) 0%, rgba(97,34,22,1) 35%, rgba(163,149,12,1) 100%);
    height: 40px;
    width: 1520px;
    border: 1rem;
    border-style:double;
    max-width: 100%;
  }

  .hr2 {
    border-radius: 10px;
    background-color: white;
    height: 40px;
    width: 1520px;
    border: 1rem;
    border-style:outset;
    max-width: 100%;
    display: flex;
    justify-content:center;
    
  }

  #info {
    padding: 70px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
  }

  #info h2{
    color:black;
    background-color: wheat;
    font-size: 32px;
    font-weight: 800;
    display: flex;
    border-style:double;
  }
  
  .info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }

  .info-card {
    width: 300px;
    height: 290px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    gap: 20px;
  }

  .info-card img {
    width: 70px;
    animation: rotate 4s infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .info-card h3 {
    font-weight: 600;
    font-size: 20px;
  }

  .info-card p{
    font-size: 16px;
    font-weight: 300;
    color: black;
  }


  #contact {
    padding: 70px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
  }

  .contact-container {
      margin-top: 5px;
      padding: 0px 200px 40px 0px;
      display: flex;
      justify-content:center;
      align-items:center;
      flex-direction: row;
      gap: 30px;
  }

  .contact-container img {
    width: 70px;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items:center;
  }

  #contact h2{
    color:red;
    font-size: 45px;
    font-weight: 800;
    display: flex;
    border-style:double;
    padding: 40px 50px 40px;
    background: linear-gradient(150deg, rgb(124, 124, 124) 0%, rgb(103, 78, 73) 35%, rgb(193, 190, 189) 100%);
    animation: translateX 2s infinite;
  }

  @keyframes translateX {
    0% {
      transform: translateX(0);
    }
    100%{
      transform: translateX(100px);
    }
    
  }

  .info-contact {
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
  }

  .info-contact p{
    color: antiquewhite;
    font-weight: 500;
    font-size: 15px;
  }


  .redes{
    height: 280px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 100px;
    padding: 100px 75px 100px 20px;
  }

  .iframe {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 0px 10px 30PX;
  }

  footer {
    background:white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: opx 0px;
    border-style:double;
  }

  .logo-footer{
    display: flex;
    height: 250px;
  }

  footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 20px;
    color: grey;
  }




  @media (max-width:992px) {
    
    .hero {
      text-align: center;
      width: 90%;
      align-items: center;
    }

    #hero-info h1 {
      display: flex;
      width: 100%;
    }

    #hero-info p {
      max-width: 80%;
      font-size: 20px;
    }

    .hero-info a {
      justify-content: center;
    }

    .hero-card{
      display: none;
    }

    #about{
      font-size: 15px;
      display: flex;
    }

    .divisor{
      display: none;
    }

    .hr {
      display: none;
    }

    .hr2 {
      display: none;
    }

    .cart-icon {
      display: none;
    }

    .navbar-list {
      align-items: center;
      text-align: center;
      border-radius: 7px;
      padding: 20px;
      width: 150px;
      margin: 10px auto;
      color: black;
    }

    .menu-button{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 40px;
      height: 36px;
      padding: 10px;
      border-radius: 7px;
      cursor: pointer;
    }
  
    .menu-button span{
      width: 40px;
      height: 14px;
      background: white;
    }
  

    .navbar-list{
      background-color: white;
      width: 100%;
      height: calc(100vh - 80px);
      position: absolute;
      top: 80px;
      left: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(200%);
    }

    .redes{
     display: none;
    }

    #toggle-menu:checked + .navbar-list {
      transform: translateX(0%);
    }
  }

